* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  align-items: center;
  background: #fff url("../img/background.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

@media only screen and (max-width: 580px) {
  main {
    background-size: 170%;
  }
}

h1,
p {
  text-indent: -9999px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  position: fixed;
  right: 90px;
  top: 90px;
}

@media only screen and (max-width: 860px) {
  nav {
    align-items: flex-start;
    bottom: 60px;
    flex-direction: row;
    justify-content: space-between;
    right: 60px;
    top: auto;
  }
}

nav a {
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
}

nav a img {
  height: auto;
  width: 100%;
}
